<div class="container">
    <h1 class="BadScript">Purchase</h1>

    {{{userName}}}

    <div class="buttonAnim" onclick="purchaseCart()">
        <div class="svg-wrapper">
            <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="60" width="320" />
            </svg>
        <div class="text">SHOP BAG</div>
    </div>
    </div>
</div>
